@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
  --color-dg: #4f4f4f;
  --color-yl: #fff8df;
  --font-body: 16px;
  --font-regular: 400;
  --font-semibold: 600;
}

body,
h1,
h2,
h3,
input,
button,
ul,
li {
  padding: 0;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  border-style: none;
}
body {
  display: flex;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.32);
  color: var(--color-yl);
}

#null {
  padding: 16px 0;
}

li label {
  display: flex;
  flex: 1;
  cursor: pointer;
  position: relative;
}

label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

label .checkmark {
  margin-right: 8px;
  height: 20px;
  width: 20px;
  border: 1px solid var(--color-yl);
  position: relative;
}

.checkmark::after {
  display: none;
  content: "";
}

input:checked ~ .checkmark::after {
  display: block;
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 4px;
  left: 4px;
  background: var(--color-yl);
}
input:checked ~ .text {
  text-decoration: line-through;
}

li button {
  background: transparent;
  color: #ffaeae;
  cursor: pointer;
  padding: 16px 8px;
}

h1 {
  font-size: 96px;
  color: var(--color-dg);
}

.container-cover {
  padding: 48px 40px;
  width: 50%;
  height: 100vh;
  background: var(--color-yl);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.container-todo {
  padding: 48px 40px;
  width: 50%;
  height: 100vh;
  box-sizing: border-box;
  background: var(--color-dg);
}

.hidden {
  display: none !important;
}

form {
  display: flex;
  justify-content: space-between;
}

form input {
  padding: 8px 12px;
  margin-right: 24px;
  flex: 1;
  font-size: var(--font-body);
}

form button {
  cursor: pointer;
  padding: 8px 16px;
  font-size: var(--font-body);
  font-weight: var(--font-semibold);
}

#login-form input {
  background: white;
}

#login-form input:focus {
  outline-color: var(--color-dg);
}

#login-form button {
  background: var(--color-dg);
  color: var(--color-yl);
}

#todo-form input {
  background: rgba(0, 0, 0, 0.32);
  color: var(--color-yl);
}

#todo-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

#todo-form input:focus {
  outline-color: var(--color-yl);
}

#todo-form button {
  background: var(--color-yl);
  color: var(--color-dg);
}

h2 {
  font-weight: var(--font-regular);
  font-size: 32px;
  color: var(--color-dg);
}

.calendar {
  align-self: center;
  position: relative;
}

.calendar h3 {
  text-align: center;
  margin-bottom: -16px;
  font-weight: var(--font-semibold);
  color: var(--color-dg);
}

.container-todo h2 {
  color: var(--color-yl);
  margin: 40px 0 24px 0;
}

#quote {
  align-self: center;
  text-align: center;
  color: var(--color-dg);
}

#quote div:first-child {
  font-weight: var(--font-semibold);
}

.bg {
  position: relative;
  z-index: 1;
  width: 240px;
  height: 240px;
  margin: 0 auto;
}
.bg img {
  margin-top: -48px;
  width: 240px;
  height: 240px;
}

#clock {
  position: relative;
  z-index: 2;
}
